MiniGrid/
algos/runs/
algos/tmp/
ltl_learning/__pycache__/
mappo/__pycache__/
mappo/envs/__pycache__/
mappo/minigrid_copy/__pycache__/
mappo/minigrid_copy/runs/
mappo/minigrid_copy/tmp/
mappo/runs/
mappo/tmp/
myproject.egg-info/
runs/
mappo/algorithms/__pycache__/dec_ma_mo_base.cpython-39.pyc
mappo/algorithms/__pycache__/dec_ma_mo_ppo.cpython-39.pyc
mappo/algorithms/__pycache__/ma_mo_base.cpython-39.pyc
mappo/networks/__pycache__/coma_network.cpython-39.pyc
mappo/tests/team_grid/__pycache__/ma_mo_agent.cpython-39.pyc
mappo/utils/__pycache__/ma_penv.cpython-39.pyc

Thoughts.txt
mappo/minigrid_copy/utils/__pycache__/__init__.cpython-310.pyc
mappo/algorithms/__pycache__/dec_ma_mo_base.cpython-39.pyc
mappo/algorithms/__pycache__/ma_mo_base.cpython-39.pyc
mappo/algorithms/__pycache__/ma_mo_base.cpython-310.pyc
mappo/algorithms/__pycache__/ma_mo_ppo.cpython-39.pyc
mappo/algorithms/__pycache__/ma_mo_ppo.cpython-310.pyc
mappo/algorithms/__pycache__/mo_base.cpython-310.pyc
mappo/algorithms/__pycache__/mo_ppo.cpython-310.pyc
mappo/minigrid_copy/utils/__pycache__/base_model.cpython-310.pyc
mappo/minigrid_copy/utils/__pycache__/dictlist.cpython-310.pyc
mappo/networks/__pycache__/mo_ma_ltlnet_deep.cpython-39.pyc
mappo/networks/__pycache__/mo_ma_ltlnet_deep.cpython-310.pyc
mappo/networks/__pycache__/mo_ma_ltlnet.cpython-39.pyc
mappo/networks/__pycache__/mo_ma_ltlnet.cpython-310.pyc
mappo/networks/__pycache__/task_alloc.cpython-39.pyc
mappo/tests/__pycache__/__init__.cpython-310.pyc
mappo/tests/team_grid/__pycache__/ma_mo_agent.cpython-39.pyc
mappo/tests/team_grid/__pycache__/ma_mo_agent.cpython-310.pyc
mappo/utils/__pycache__/__init__.cpython-310.pyc
mappo/utils/__pycache__/dictlist.cpython-310.pyc
mappo/utils/__pycache__/ma_penv.cpython-39.pyc
mappo/utils/__pycache__/ma_penv.cpython-310.pyc
mappo/utils/__pycache__/penv.cpython-310.pyc
mappo/utils/__pycache__/storage.cpython-310.pyc
teamgrid/teamgrid/__pycache__/__init__.cpython-310.pyc
teamgrid/teamgrid/__pycache__/minigrid.cpython-310.pyc
teamgrid/teamgrid/__pycache__/register.cpython-310.pyc
teamgrid/teamgrid/__pycache__/rendering.cpython-310.pyc
teamgrid/teamgrid/envs/__pycache__/__init__.cpython-310.pyc
teamgrid/teamgrid/envs/__pycache__/basic.cpython-310.pyc
teamgrid/teamgrid/envs/__pycache__/doorball.cpython-310.pyc
teamgrid/teamgrid/envs/__pycache__/dualdoors.cpython-310.pyc
teamgrid/teamgrid/envs/__pycache__/dualswitch.cpython-310.pyc
teamgrid/teamgrid/envs/__pycache__/fourrooms.cpython-310.pyc
teamgrid/teamgrid/envs/__pycache__/switch.cpython-310.pyc
teamgrid/teamgrid.egg-info/PKG-INFO
